body {
  background-color: #5cc5ff;
}

label{
  color: whitesmoke;
}

.destination-input {
  height: 40px;
}

.date-input {
  height: 40px;
}

.pass-n-class {
  height: 100%;
}

.btn{
  height: 100%;
  width: 100%;
  color: whitesmoke;
  background-color: #ff9039;
}

input {
  height: 100%;
  width: 100%;
  padding: 0;
  border: 0;
}

.air-ticket-office {
  background-color: #5cc5ff;
  margin: 70px auto;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

h2 {
  width: 100vw;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: whitesmoke;
}

.form-field {
  background-color: #5cc5ff;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 3px;
  grid-auto-rows: 70px;
  grid-template-areas: "origin destination departure return passengers submit";

}

.origin {
  position: relative;
  grid-area: origin;
  height: 100%;
}

.destination {
  position: relative;
  grid-area: destination;
}


.departure {
  position: relative;
  grid-area: departure;
}

.return {
  position: relative;
  grid-area: return;
}

.passengers {
  position: relative;
  grid-area: passengers
}

.submit {
  position: relative;
  grid-area: submit
}
